@charset "utf-8";
/* CSS Document */

h6 {
    display: inline;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    font-weight: normal;
	font-family: 'Asar', serif;
	font-size: 28px;
	color: #6D4582;
}
mark {
    background-color: #62A5D7;
	color: #6D4582;
}
mark.blue {
    color: #0000E3;
    background: none;
}
mark.darkblue {
    color: #0000A6;
    background: none;
}
mark.aqua {
    color: #B1D8D4;
    background: none;
}
span.caption {
	font-size: 12px;
}
span.large {
	font-size: 18px;
}
span.normal {
	font-size: 8px;
}
ul.dashed {
    list-style: none;
    padding-left: 0;
}

ul.dashed > li {
    margin-left: 15px;  
}
ul.dashed > li:before {
    content: "-";
    margin-left: -15px;
}
img {
    border: 3px solid #9B7767;
    border-radius: 4px;
	margin-left: 10px;
    padding: 0px;
    height: 240px;
}
#banner
{
	background-color: #62A5D7;
	text-align: right;
	padding: 30px;
	font-family: 'Asar', serif;
	font-size: 30px;
	color: #6D4582;
	}
.secondary_header {
	width: 100%;
	padding-top: 8px;
	padding-bottom: 45px;
	background-color: #B1D8D4;
}
.secondary_header ul li {
	list-style: none;
	float: left;
	margin-right: auto;
	margin-top: 0px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 15px;
	color: #2D5DE1;
	margin-left: auto;
	text-align: right;
	width: 16%;
	transition: all 0.3s linear;
}
.secondary_header ul li:hover {
	color: #618AF9;
	cursor: pointer;
}
a:link {
    text-decoration: none;
	color: #2D5DE1
}

a:visited {
    text-decoration: none;
	color: #2D5DE1
}

a:hover {
    text-decoration: none;
	color: #618AF9
}
a:active {
    text-decoration: none;
	color: #618AF9
}

#content
{
	background-color: #A481CB;
	padding-top: 1px;
	padding-bottom: 25px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 14px;
}

#footer
{
	background-color:#F99496;
	font-family: Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana," sans-serif";
	font-size: 11px;
}
/*useful colours #C96988 #9F939E #0C2058 concern: lighter background colour if needed #A583CB image border #092CFF/